# BOEING CHALLENGE

#### by: Nicholas Matveev

In [34]:
import requests
import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 100)

# Connect to the whole dataset via REST API over at 
# https://data.gov.au/data/dataset/international-airlines-airline-by-country-of-port-data/resource/809c77d8-fd68-4a2c-806f-c63d64e69842
# using &limit=100000 parameter to pull the whole dataset:

out = requests.get('https://data.gov.au/data/api/3/action/datastore_search?resource_id=809c77d8-fd68-4a2c-806f-c63d64e69842&limit=100000')

#Converts the returned JSON into dataframe by looking at the table located at /result/records child node:
out_df = pd.json_normalize(out.json(),[['result','records']])

In [35]:
# 1.How many passengers came in and out of Australia for each Airline in each month of 2019?

#Pull the 2019 subset of the data:
df=out_df.copy().loc[out_df['Year']=='2019']

#Convert Passengers_In, Passengers_Out and Month_num column datatypes from string to numeric:
df[['Passengers_In','Passengers_Out','Month_num']]=df[['Passengers_In','Passengers_Out','Month_num']].apply(pd.to_numeric, errors='coerce')
df=df.sort_values(['Airline','Month_num'])

# Group by Airline and month number (1-12) to obtain the sum for passengers in and out for each month:
df.groupby(['Airline','Month_num'])[['Passengers_In','Passengers_Out']].sum().reset_index()

                         Airline  Month_num  Passengers_In  Passengers_Out
0    Air Caledonie International          1           8291            7336
1    Air Caledonie International          2           3889            6148
2    Air Caledonie International          3           3957            4409
3    Air Caledonie International          4           4965            4911
4    Air Caledonie International          5           3996            3786
5    Air Caledonie International          6           4001            5143
6    Air Caledonie International          7           3969            4200
7    Air Caledonie International          8           5575            5017
8    Air Caledonie International          9           4377            4832
9    Air Caledonie International         10           5962            5901
10   Air Caledonie International         11           5233            5542
11   Air Caledonie International         12           6944            5827
12                    Air Canada          1          20122           16999
13                    Air Canada          2          18173           14098
14                    Air Canada          3          16966           18414
15                    Air Canada          4          13149           18147
16                    Air Canada          5          13557           18280
17                    Air Canada          6          16202           18943
18                    Air Canada          7          20502           19483
19                    Air Canada          8          18096           19464
20                    Air Canada          9          18211           15858
21                    Air Canada         10          17104           11799
22                    Air Canada         11          14694           14857
23                    Air Canada         12          16792           20523
24                  Air Chathams          9             90              87
25                  Air Chathams         10            124             138
26                  Air Chathams         11            166             137
27                  Air Chathams         12            169             144
28                     Air China          1          28053           24187
29                     Air China          2          27454           22903
30                     Air China          3          20223           18759
31                     Air China          4          13555           14829
32                     Air China          5          11015           14577
33                     Air China          6          10001           14746
34                     Air China          7          11095           12879
35                     Air China          8          11676           13914
36                     Air China          9           9657           13977
37                     Air China         10          12003           14687
38                     Air China         11          16089           20320
39                     Air China         12          18332           23232
40                     Air India          1           8510            7573
41                     Air India          2           7863            6094
42                     Air India          3           7270            6841
43                     Air India          4           7901            7867
44                     Air India          5           7963            6119
45                     Air India          6           8144            7827
46                     Air India          7           8395            6145
47                     Air India          8           8453            7521
48                     Air India          9           7630            7475
49                     Air India         10           8121            7491
50                     Air India         11           7051            7790
51                     Air India         12           7794            8536
52                 Air Mauritius          1           3535            3098
53                 Air Mauritius          2           2010            1417
54                 Air Mauritius          3           1641            1873
55                 Air Mauritius          4           1755            2043
56                 Air Mauritius          5           2040            2088
57                 Air Mauritius          6           1680            2100
58                 Air Mauritius          7           2458            2213
59                 Air Mauritius          8           1751            1808
60                 Air Mauritius          9           2314            2157
61                 Air Mauritius         10           2434            2034
62                 Air Mauritius         11           2028            1786
63                 Air Mauritius         12           2870            3067
64               Air New Zealand          1         144286          133584
65               Air New Zealand          2         119061          118649
66               Air New Zealand          3         135759          126866
67               Air New Zealand          4         124791          116423
68               Air New Zealand          5         107654           99812
69               Air New Zealand          6          98665          102327
70               Air New Zealand          7         120321          118084
71               Air New Zealand          8         113093          114887
72               Air New Zealand          9         111691          115780
73               Air New Zealand         10         123073          124450
74               Air New Zealand         11         120886          124781
75               Air New Zealand         12         130200          137857
76                   Air Niugini          1           6776            7716
77                   Air Niugini          2           5603            5382
78                   Air Niugini          3           6407            6053
79                   Air Niugini          4           6540            6949
80                   Air Niugini          5           5596            5339
81                   Air Niugini          6           5862            6268
82                   Air Niugini          7           6832            6941
83                   Air Niugini          8           6107            6078
84                   Air Niugini          9           6453            7203
85                   Air Niugini         10           6578            5925
86                   Air Niugini         11           5917            6231
87                   Air Niugini         12           7333            7161
88                   Air Vanuatu          1           6436            5100
89                   Air Vanuatu          2           2899            3119
90                   Air Vanuatu          3           4079            3970
91                   Air Vanuatu          4           5181            5102
92                   Air Vanuatu          5           4442            3954
93                   Air Vanuatu          6           4932            6009
94                   Air Vanuatu          7           8231            7787
95                   Air Vanuatu          8           6484            5838
96                   Air Vanuatu          9           6496            7031
97                   Air Vanuatu         10           7857            6745
98                   Air Vanuatu         11           5930            5491
99                   Air Vanuatu         12           5378            7529
100                    AirAsia X          1          65337           54196
101                    AirAsia X          2          50781           33332
102                    AirAsia X          3          40187           34638
103                    AirAsia X          4          44710           46104
104                    AirAsia X          5          46475           38083
105                    AirAsia X          6          34656           45329
106                    AirAsia X          7          66794           49450
107                    AirAsia X          8          44274           38451
108                    AirAsia X          9          39068           42165
109                    AirAsia X         10          50097           39247
110                    AirAsia X         11          37283           38393
111                    AirAsia X         12          46737           67575
112           All Nippon Airways          1           6548            6222
113           All Nippon Airways          2           6101            5163
114           All Nippon Airways          3           5742            6404
115           All Nippon Airways          4           5420            5214
116           All Nippon Airways          5           5089            5580
117           All Nippon Airways          6           4065            5090
118           All Nippon Airways          7           6090            4860
119           All Nippon Airways          8           5768            6136
120           All Nippon Airways          9           8381           11251
121           All Nippon Airways         10          11060           10267
122           All Nippon Airways         11          10294           10175
123           All Nippon Airways         12           9365           11554
124            American Airlines          1           8648            7160
125            American Airlines          2           7466            6507
126            American Airlines          3           7717            7996
127            American Airlines          4           7685            8075
128            American Airlines          5           8482            7776
129            American Airlines          6           8156            7865
130            American Airlines          7           8449            7964
131            American Airlines          8           7286            7762
132            American Airlines          9           6800            7060
133            American Airlines         10           7281            6096
134            American Airlines         11           6976            6145
135            American Airlines         12           7480            7592
136              Asiana Airlines          1          12432           14579
137              Asiana Airlines          2          10623           11663
138              Asiana Airlines          3          11450           13101
139              Asiana Airlines          4           7089            7127
140              Asiana Airlines          5           7121            7227
141              Asiana Airlines          6           8204            8209
142              Asiana Airlines          7           8837            7238
143              Asiana Airlines          8           7976            8750
144              Asiana Airlines          9           7379            7439
145              Asiana Airlines         10           8687            8099
146              Asiana Airlines         11          11033           10029
147              Asiana Airlines         12          10962           13820
148          Batik Air Indonesia          1           6329            3515
149          Batik Air Indonesia          2           1623             867
150          Batik Air Indonesia          3           1617            1551
151          Batik Air Indonesia          4           2796            2880
152          Batik Air Indonesia          5           2971            2755
153          Batik Air Indonesia          6           3357            4140
154          Batik Air Indonesia          7           5041            4489
155          Batik Air Indonesia          8           4490            4161
156          Batik Air Indonesia          9           4209            4327
157          Batik Air Indonesia         10           4954            4032
158          Batik Air Indonesia         11           3163            2449
159          Batik Air Indonesia         12           2327            4140
160     Beijing Capital Airlines          1           5028            4560
161     Beijing Capital Airlines          2           4734            4361
162     Beijing Capital Airlines          3           4103            3913
163     Beijing Capital Airlines          4           3172            3203
164     Beijing Capital Airlines          5           2899            2712
165     Beijing Capital Airlines          6           3211            3685
166     Beijing Capital Airlines          7           5153            4297
167     Beijing Capital Airlines          8           4986            4729
168     Beijing Capital Airlines          9           4325            4848
169     Beijing Capital Airlines         10           4882            3801
170     Beijing Capital Airlines         11           3734            4342
171     Beijing Capital Airlines         12           4306            5791
172              British Airways          1           8870            7576
173              British Airways          2           7622            7101
174              British Airways          3           6121            7921
175              British Airways          4           5856            8331
176              British Airways          5           5861            8058
177              British Airways          6           5780            6754
178              British Airways          7           5890            6693
179              British Airways          8           6072            6559
180              British Airways          9           7153            6954
181              British Airways         10           8669            6190
182              British Airways         11           8248            7620
183              British Airways         12           7489            8603
184       Cathay Pacific Airways          1          95907           75295
185       Cathay Pacific Airways          2          84913           71819
186       Cathay Pacific Airways          3          73126           75914
187       Cathay Pacific Airways          4          83936           87968
188       Cathay Pacific Airways          5          71332           78268
189       Cathay Pacific Airways          6          69626           83729
190       Cathay Pacific Airways          7          80868           72970
191       Cathay Pacific Airways          8          74781           82218
192       Cathay Pacific Airways          9          76582           78001
193       Cathay Pacific Airways         10          90928           74833
194       Cathay Pacific Airways         11          71012           74429
195       Cathay Pacific Airways         12          80575          100445
196             Cebu Pacific Air          1          16158           13545
197             Cebu Pacific Air          2          12811            8819
198             Cebu Pacific Air          3          10867            9383
199             Cebu Pacific Air          4          13156           11624
200             Cebu Pacific Air          5          12165           10027
201             Cebu Pacific Air          6          10837           12105
202             Cebu Pacific Air          7          13921            9935
203             Cebu Pacific Air          8          11001            9019
204             Cebu Pacific Air          9           9941            9531
205             Cebu Pacific Air         10          13064           10243
206             Cebu Pacific Air         11           9493            9832
207             Cebu Pacific Air         12          11023           13350
208               China Airlines          1          32838           25724
209               China Airlines          2          20258           17123
210               China Airlines          3          17489           20150
211               China Airlines          4          21928           24056
212               China Airlines          5          16192           17755
213               China Airlines          6          20315           24206
214               China Airlines          7          27966           24868
215               China Airlines          8          23242           25334
216               China Airlines          9          20752           25200
217               China Airlines         10          23745           22779
218               China Airlines         11          19552           23187
219               China Airlines         12          22181           32961
220       China Eastern Airlines          1          50330           41945
221       China Eastern Airlines          2          47541           40275
222       China Eastern Airlines          3          31185           29415
223       China Eastern Airlines          4          31263           33201
224       China Eastern Airlines          5          32392           33800
225       China Eastern Airlines          6          29729           33752
226       China Eastern Airlines          7          36012           29967
227       China Eastern Airlines          8          33170           35479
228       China Eastern Airlines          9          30961           34001
229       China Eastern Airlines         10          38057           35441
230       China Eastern Airlines         11          37204           41974
231       China Eastern Airlines         12          39130           50172
232      China Southern Airlines          1          84428           73956
233      China Southern Airlines          2          78942           68859
234      China Southern Airlines          3          53269           49943
235      China Southern Airlines          4          54390           55228
236      China Southern Airlines          5          45571           45594
237      China Southern Airlines          6          41960           45516
238      China Southern Airlines          7          46644           42786
239      China Southern Airlines          8          46541           46636
240      China Southern Airlines          9          42619           43593
241      China Southern Airlines         10          46531           45043
242      China Southern Airlines         11          52067           53318
243      China Southern Airlines         12          66008           74824
244           Citilink Indonesia         11           1043            1248
245           Citilink Indonesia         12           2142            4226
246              Delta Air Lines          1           8428            7372
247              Delta Air Lines          2           7590            6424
248              Delta Air Lines          3           8289            8246
249              Delta Air Lines          4           7612            8135
250              Delta Air Lines          5           8471            7377
251              Delta Air Lines          6           8200            7692
252              Delta Air Lines          7           8549            7757
253              Delta Air Lines          8           8028            7884
254              Delta Air Lines          9           8002            7733
255              Delta Air Lines         10           8270            6677
256              Delta Air Lines         11           8174            7134
257              Delta Air Lines         12           8208            7613
258             Donghai Airlines          1            720             421
259             Donghai Airlines          2            630             489
260             Donghai Airlines          3            332             283
261             Donghai Airlines          4            282             209
262             Donghai Airlines          5            215             179
263             Donghai Airlines          6            240             293
264             Donghai Airlines          7            548             251

In [36]:
# 2.In the last 6 months which port country was responsible for the most passengers coming into the country?

#Pull the 2020 subset of the data:
df=out_df.copy().loc[out_df['Year']=='2020']

#Convert month and Passengers__In to numeric datatype:
df[['Month','Passengers_In']]=df[['Month','Passengers_In']].apply(pd.to_numeric, errors='coerce')

#Get unique last 6 'Month' id values and store in last_six_months variable as a list and 
#keep rows that only refer to the last 6 months of the dataset (using 'Month' unique values):
last_six_months=df['Month'].drop_duplicates().nlargest(6).reset_index(drop=True).values.tolist()
df = df[df['Month'].isin(last_six_months)]

#Group by Port_Country to sum the Passengers coming into the country. Sort by descending and keep only the top row
df.groupby('Port_Country')[['Passengers_In']].sum().sort_values('Passengers_In',ascending=False).head(1)

              Passengers_In
Port_Country
New Zealand           26803

In [37]:
# 3.What is the 3 month rolling average of freight coming into Australia for each airline in 2018?

#Pull the 2018 subset of the data:
df=out_df.copy().loc[out_df['Year']=='2018']
df[['Month_num','Freight_In_(tonnes)']]=df[['Month_num','Freight_In_(tonnes)']].apply(pd.to_numeric, errors='coerce')

#Take only 'Airline','Freight_In_(tonnes)','Month_num' columns from the dataset 
#and sort by the Airline and Month_Num ascending order to make it easier to read:
df = df.loc[:,['Airline','Freight_In_(tonnes)','Month_num']].sort_values(['Airline','Month_num'])

#Group by Airline and Month number to get the sum for each available Airline and Month combination:
df = df.groupby(['Airline','Month_num'])['Freight_In_(tonnes)'].sum().reset_index()

#Group by Airline and apply rolling 3 month mean for the summed Freight_In variable, for each Airline in 2018:
#Note: 3 month rolling average starts strictly on the 3rd month, but could change the rolling(3) function to 
#      rolling(3,1) to avoid missing values for the first couple of months for each airline

df['3_Month_MA'] = df.groupby(['Airline'])['Freight_In_(tonnes)'].rolling(3).mean().reset_index(drop=True)
df.round(3)

                         Airline  Month_num  Freight_In_(tonnes)  3_Month_MA
0    Air Caledonie International          1                2.942         NaN
1    Air Caledonie International          2                4.546         NaN
2    Air Caledonie International          3                4.184       3.891
3    Air Caledonie International          4                8.042       5.591
4    Air Caledonie International          5                2.332       4.853
5    Air Caledonie International          6                4.765       5.046
6    Air Caledonie International          7                2.681       3.259
7    Air Caledonie International          8                7.005       4.817
8    Air Caledonie International          9                4.509       4.732
9    Air Caledonie International         10                4.714       5.409
10   Air Caledonie International         11                3.119       4.114
11   Air Caledonie International         12                1.920       3.251
12                    Air Canada          1              268.328         NaN
13                    Air Canada          2              242.434         NaN
14                    Air Canada          3              336.101     282.288
15                    Air Canada          4              389.111     322.549
16                    Air Canada          5              433.189     386.134
17                    Air Canada          6              522.835     448.378
18                    Air Canada          7              370.029     442.018
19                    Air Canada          8              438.725     443.863
20                    Air Canada          9              338.763     382.506
21                    Air Canada         10              339.253     372.247
22                    Air Canada         11              340.477     339.498
23                    Air Canada         12              375.061     351.597
24                     Air China          1              915.455         NaN
25                     Air China          2              645.869         NaN
26                     Air China          3              594.755     718.693
27                     Air China          4              580.109     606.911
28                     Air China          5              546.435     573.766
29                     Air China          6              483.888     536.811
30                     Air China          7              390.908     473.744
31                     Air China          8              346.018     406.938
32                     Air China          9              356.815     364.580
33                     Air China         10              403.666     368.833
34                     Air China         11              343.360     367.947
35                     Air China         12              582.127     443.051
36                     Air India          1              143.658         NaN
37                     Air India          2              178.626         NaN
38                     Air India          3              161.396     161.227
39                     Air India          4              118.285     152.769
40                     Air India          5              114.179     131.287
41                     Air India          6              117.306     116.590
42                     Air India          7              132.568     121.351
43                     Air India          8              140.629     130.168
44                     Air India          9              188.073     153.757
45                     Air India         10              240.194     189.632
46                     Air India         11              243.853     224.040
47                     Air India         12              165.693     216.580
48                 Air Mauritius          1               58.990         NaN
49                 Air Mauritius          2               42.747         NaN
50                 Air Mauritius          3               38.961      46.899
51                 Air Mauritius          4               30.694      37.467
52                 Air Mauritius          5               36.567      35.407
53                 Air Mauritius          6               18.443      28.568
54                 Air Mauritius          7               36.434      30.481
55                 Air Mauritius          8               54.733      36.537
56                 Air Mauritius          9               59.993      50.387
57                 Air Mauritius         10               53.250      55.992
58                 Air Mauritius         11               48.860      54.034
59                 Air Mauritius         12               54.777      52.296
60               Air New Zealand          1             3065.998         NaN
61               Air New Zealand          2             2998.860         NaN
62               Air New Zealand          3             3009.986    3024.948
63               Air New Zealand          4             2243.001    2750.616
64               Air New Zealand          5             2270.023    2507.670
65               Air New Zealand          6             2490.888    2334.637
66               Air New Zealand          7             2779.268    2513.393
67               Air New Zealand          8             2426.126    2565.427
68               Air New Zealand          9             2232.263    2479.219
69               Air New Zealand         10             2405.744    2354.711
70               Air New Zealand         11             2314.940    2317.649
71               Air New Zealand         12             2837.294    2519.326
72                   Air Niugini          1               57.807         NaN
73                   Air Niugini          2               41.888         NaN
74                   Air Niugini          3               30.262      43.319
75                   Air Niugini          4               34.586      35.579
76                   Air Niugini          5               33.631      32.826
77                   Air Niugini          6               35.315      34.511
78                   Air Niugini          7               29.128      32.691
79                   Air Niugini          8               33.149      32.531
80                   Air Niugini          9               26.100      29.459
81                   Air Niugini         10               34.505      31.251
82                   Air Niugini         11               49.681      36.762
83                   Air Niugini         12               47.026      43.737
84                   Air Vanuatu          1                2.534         NaN
85                   Air Vanuatu          2                3.058         NaN
86                   Air Vanuatu          3                5.485       3.692
87                   Air Vanuatu          4                5.139       4.561
88                   Air Vanuatu          5                4.137       4.920
89                   Air Vanuatu          6                3.313       4.196
90                   Air Vanuatu          7                2.593       3.348
91                   Air Vanuatu          8                3.083       2.996
92                   Air Vanuatu          9                3.820       3.165
93                   Air Vanuatu         10                5.031       3.978
94                   Air Vanuatu         11                5.398       4.750
95                   Air Vanuatu         12                1.841       4.090
96                     AirAsia X          1              853.326         NaN
97                     AirAsia X          2              582.159         NaN
98                     AirAsia X          3              975.491     803.659
99                     AirAsia X          4             1194.762     917.471
100                    AirAsia X          5             1303.583    1157.945
101                    AirAsia X          6             1315.004    1271.116
102                    AirAsia X          7             1108.024    1242.204
103                    AirAsia X          8             1293.164    1238.731
104                    AirAsia X          9             1188.732    1196.640
105                    AirAsia X         10             1084.000    1188.632
106                    AirAsia X         11             1325.906    1199.546
107                    AirAsia X         12             1041.450    1150.452
108           All Nippon Airways          1              351.081         NaN
109           All Nippon Airways          2              284.474         NaN
110           All Nippon Airways          3              258.880     298.145
111           All Nippon Airways          4              350.869     298.074
112           All Nippon Airways          5              318.562     309.437
113           All Nippon Airways          6              412.911     360.781
114           All Nippon Airways          7              421.820     384.431
115           All Nippon Airways          8              491.393     442.041
116           All Nippon Airways          9              458.145     457.119
117           All Nippon Airways         10              436.545     462.028
118           All Nippon Airways         11              449.911     448.200
119           All Nippon Airways         12              437.036     441.164
120            American Airlines          1                7.252         NaN
121            American Airlines          2                3.376         NaN
122            American Airlines          3               11.252       7.293
123            American Airlines          4               25.526      13.385
124            American Airlines          5               54.639      30.472
125            American Airlines          6               31.068      37.078
126            American Airlines          7                2.206      29.304
127            American Airlines          8              159.553      64.276
128            American Airlines          9               51.658      71.139
129            American Airlines         10                5.411      72.207
130            American Airlines         11                2.429      19.833
131            American Airlines         12                7.778       5.206
132              Asiana Airlines          1              177.360         NaN
133              Asiana Airlines          2              182.512         NaN
134              Asiana Airlines          3              221.973     193.948
135              Asiana Airlines          4              198.753     201.079
136              Asiana Airlines          5              187.915     202.880
137              Asiana Airlines          6              175.038     187.235
138              Asiana Airlines          7              171.118     178.024
139              Asiana Airlines          8              152.174     166.110
140              Asiana Airlines          9              186.704     169.999
141              Asiana Airlines         10              155.154     164.677
142              Asiana Airlines         11              186.263     176.040
143              Asiana Airlines         12              148.353     163.257
144          Batik Air Indonesia          1                0.000         NaN
145          Batik Air Indonesia          2                0.000         NaN
146          Batik Air Indonesia          3                0.000       0.000
147          Batik Air Indonesia          4                0.000       0.000
148          Batik Air Indonesia          5                0.000       0.000
149          Batik Air Indonesia          6                0.000       0.000
150          Batik Air Indonesia          7                0.000       0.000
151          Batik Air Indonesia          8                0.000       0.000
152          Batik Air Indonesia          9                0.000       0.000
153          Batik Air Indonesia         10                0.000       0.000
154          Batik Air Indonesia         11                0.000       0.000
155          Batik Air Indonesia         12                0.000       0.000
156     Beijing Capital Airlines          1              274.696         NaN
157     Beijing Capital Airlines          2              141.459         NaN
158     Beijing Capital Airlines          3              232.774     216.310
159     Beijing Capital Airlines          4              179.566     184.600
160     Beijing Capital Airlines          5              244.582     218.974
161     Beijing Capital Airlines          6              127.351     183.833
162     Beijing Capital Airlines          7              189.476     187.136
163     Beijing Capital Airlines          8              179.822     165.550
164     Beijing Capital Airlines          9              214.746     194.681
165     Beijing Capital Airlines         10              220.878     205.149
166     Beijing Capital Airlines         11              270.345     235.323
167     Beijing Capital Airlines         12              208.591     233.271
168              British Airways          1              355.345         NaN
169              British Airways          2              350.395         NaN
170              British Airways          3              390.162     365.301
171              British Airways          4              397.439     379.332
172              British Airways          5              432.965     406.855
173              British Airways          6              417.371     415.925
174              British Airways          7              358.712     403.016
175              British Airways          8              389.727     388.603
176              British Airways          9              408.469     385.636
177              British Airways         10              435.483     411.226
178              British Airways         11              415.371     419.774
179              British Airways         12              358.615     403.156
180       Cathay Pacific Airways          1             2973.614         NaN
181       Cathay Pacific Airways          2             2961.266         NaN
182       Cathay Pacific Airways          3             3101.015    3011.965
183       Cathay Pacific Airways          4             3138.229    3066.837
184       Cathay Pacific Airways          5             3335.201    3191.482
185       Cathay Pacific Airways          6             3604.768    3359.399
186       Cathay Pacific Airways          7             3760.751    3566.907
187       Cathay Pacific Airways          8             3750.148    3705.222
188       Cathay Pacific Airways          9             3269.604    3593.501
189       Cathay Pacific Airways         10             3641.467    3553.740
190       Cathay Pacific Airways         11             3366.946    3426.006
191       Cathay Pacific Airways         12             3405.538    3471.317
192             Cebu Pacific Air          1              270.916         NaN
193             Cebu Pacific Air          2              211.464         NaN
194             Cebu Pacific Air          3              230.811     237.730
195             Cebu Pacific Air          4              204.986     215.754
196             Cebu Pacific Air          5              192.857     209.551
197             Cebu Pacific Air          6              218.535     205.459
198             Cebu Pacific Air          7              221.045     210.812
199             Cebu Pacific Air          8              265.563     235.048
200             Cebu Pacific Air          9              372.272     286.293
201             Cebu Pacific Air         10              380.768     339.534
202             Cebu Pacific Air         11              246.414     333.151
203             Cebu Pacific Air         12              276.229     301.137
204               China Airlines          1              347.787         NaN
205               China Airlines          2              497.697         NaN
206               China Airlines          3              526.072     457.185
207               China Airlines          4              503.455     509.075
208               China Airlines          5              571.604     533.710
209               China Airlines          6              746.304     607.121
210               China Airlines          7              591.209     636.372
211               China Airlines          8              541.437     626.317
212               China Airlines          9              626.574     586.407
213               China Airlines         10              618.082     595.364
214               China Airlines         11              489.026     577.894
215               China Airlines         12              696.635     601.248
216       China Eastern Airlines          1              771.312         NaN
217       China Eastern Airlines          2              722.963         NaN
218       China Eastern Airlines          3              859.117     784.464
219       China Eastern Airlines          4              785.431     789.170
220       China Eastern Airlines          5              671.602     772.050
221       China Eastern Airlines          6              587.390     681.474
222       China Eastern Airlines          7              733.080     664.024
223       China Eastern Airlines          8              648.924     656.465
224       China Eastern Airlines          9              755.301     712.435
225       China Eastern Airlines         10              860.572     754.932
226       China Eastern Airlines         11              851.998     822.624
227       China Eastern Airlines         12              618.893     777.154
228      China Southern Airlines          1             1363.429         NaN
229      China Southern Airlines          2             1017.458         NaN
230      China Southern Airlines          3             1385.850    1255.579
231      China Southern Airlines          4             1954.392    1452.567
232      China Southern Airlines          5             1353.958    1564.733
233      China Southern Airlines          6             1756.499    1688.283
234      China Southern Airlines          7             2231.040    1780.499
235      China Southern Airlines          8             2289.446    2092.328
236      China Southern Airlines          9             1488.843    2003.110
237      China Southern Airlines         10             1425.751    1734.680
238      China Southern Airlines         11             1768.593    1561.062
239      China Southern Airlines         12             1545.179    1579.841
240              Delta Air Lines          1              182.356         NaN
241              Delta Air Lines          2              251.166         NaN
242              Delta Air Lines          3              266.860     233.461
243              Delta Air Lines          4              270.317     262.781
244              Delta Air Lines          5              277.592     271.590
245              Delta Air Lines          6              325.591     291.167
246              Delta Air Lines          7              408.366     337.183
247              Delta Air Lines          8              403.997     379.318
248              Delta Air Lines          9              287.306     366.556
249              Delta Air Lines         10              291.348     327.550
250              Delta Air Lines         11              208.682     262.445
251              Delta Air Lines         12              218.173     239.401
252             Donghai Airlines          5                0.000         NaN
253             Donghai Airlines          6                0.000         NaN
254             Donghai Airlines          7                3.353       1.118
255             Donghai Airlines          8                6.344       3.232
256             Donghai Airlines          9                2.291       3.996
257             Donghai Airlines         10                0.000       2.878

In [38]:
#4.Which 3 airlines have the highest mail inbound/outbound ratio across the whole dataset?

#Pull only the relevant Airline, Mail_In and Mail_Out columns:
df=out_df.copy().loc[:,['Airline','Mail_In_(tonnes)','Mail_Out_(tonnes)']]
df[['Mail_In_(tonnes)','Mail_Out_(tonnes)']]=df[['Mail_In_(tonnes)','Mail_Out_(tonnes)']].apply(pd.to_numeric, errors='coerce')

#Group by Airline to get the sum for both Mail in and out columns:
df = df.groupby(['Airline'])[['Mail_In_(tonnes)','Mail_Out_(tonnes)']].sum().reset_index()

#Filter Mail_out to avoid division by 0:
df = df.loc[df['Mail_Out_(tonnes)']!=0]

#Apply new column Mail_In/Out ratio to the dataframe:
df['Mail_In/Out']=df['Mail_In_(tonnes)']/df['Mail_Out_(tonnes)']

#Sort the ratio by descending and keep the top 3:
df.sort_values('Mail_In/Out',ascending=False).reset_index(drop=True).head(3)

,Airline,Mail_In_(tonnes),Mail_Out_(tonnes),Mail_In/Out
0,Asiana Airlines,5203.020,0.097,53639.381443
1,Middle East Airlines,17.460,0.012,1455.000000
2,Aeroflot Russian Intl A/l,6.922,0.012,576.833333

In [39]:
#5.BONUS: Using the dataset, identify an airline that may have changed name and explain your approach?

# The overall approach for the problem:

# 1. Group by Airline and date to get monthly stats for each Airline (use "sum" for numeric variables and "list" for Port_country variable)
# 2. In the dataset, get the date of first and last occurence of an Airline in the dataset
# 3. Find potential matches based on criteria: old airline last date occurrence = new airline first occurrence - 1 month
#    This assumes the airline that changed names kept operating without interruption and new airline name appeared in the dataset
#    1 month after the old airline name stopped appearing
# 4. Rank matches in terms of old airline and new airline feature similarity (e.g. flights, port countries, freight etc.)
# 5. Deduplicate matches and sort by combined feature score to obtain matches from best to worst


df=out_df.copy()

#Create a datetime column by combining Year and Month_Num columns (automatically takes "day" to be the 1st of each month):
df['datetime']=pd.to_datetime(df["Year"]+df["Month_num"],format='%Y%m')

#Convert all the relevant numeric columns to numeric type:
df[['Passengers_In','Passengers_Out','Freight_In_(tonnes)','Freight_Out_(tonnes)','Mail_In_(tonnes)','Mail_Out_(tonnes)']]=df[['Passengers_In','Passengers_Out','Freight_In_(tonnes)','Freight_Out_(tonnes)','Mail_In_(tonnes)','Mail_Out_(tonnes)']].apply(pd.to_numeric, errors='coerce')
df=df.sort_values(['datetime','Airline','Port_Country']).reset_index(drop=True)

#Group by Airline and datetime, to obtain aggregate for each month of each Airline:
#Note: Port_Country as a string will contain all Port_Country occurrences for each month, separated by a comma (useful to compare port countries of old and new airline name to find similarities later on)
df_monthly_stats = df.groupby(['Airline','datetime']).agg(
                                                Passengers_In=('Passengers_In','sum'),
                                                Passengers_Out=('Passengers_Out','sum'),
                                                Freight_In=('Freight_In_(tonnes)','sum'),
                                                Freight_Out=('Freight_Out_(tonnes)','sum'),
                                                Mail_In=('Mail_In_(tonnes)','sum'),
                                                Mail_Out=('Mail_Out_(tonnes)','sum'),
                                                Port_Country=('Port_Country',','.join)).reset_index()

#Convert Airline to upper case for more accurate matching of old and new Airline name strings:
df_monthly_stats['Airline'] = df_monthly_stats['Airline'].str.upper()

#Append to the monthly stats dataframe, the date of the first and last occurence of the Airline name throughout the whole dataset:
df_monthly_stats['first_occurrence']=df_monthly_stats.groupby(['Airline'])['datetime'].transform('first') 
df_monthly_stats['last_occurrence']=df_monthly_stats.groupby(['Airline'])['datetime'].transform('last') 

#Separate dataframes into first and last time airline occurrences for comparison
df_last_occurrences = df_monthly_stats.copy().loc[(df_monthly_stats['last_occurrence']==df_monthly_stats['datetime'])]  
df_first_occurrences = df_monthly_stats.copy().loc[(df_monthly_stats['first_occurrence']==df_monthly_stats['datetime'])]

#Set first occurrence as the month before to have a common join key (i.e. last occurence old airline name = first occurrence new airline name -1)
df_first_occurrences['first_occurrence'] = df_first_occurrences['first_occurrence']- pd.DateOffset(months=1)

In [40]:
#Using recordlinkage package to compare monthly stats features of airlines under the old and new company names:

import recordlinkage

#Set the index on which recordlinkage will link the data to "block". This means it will use exact match of last and first occurrence of airline names:
indexer = recordlinkage.Index()
indexer.block(left_on='last_occurrence', right_on='first_occurrence')
#Find potential candidates based on
candidates = indexer.index(df_last_occurrences, df_first_occurrences)

#For the compare class, compare each relevant feature between the linked airlines (including the airline name itself in case it's only a minor naming change)
compare = recordlinkage.Compare()
compare.string('Port_Country',
            'Port_Country',
            method='jarowinkler',
            threshold=0.75,
            label='Port_Country_Score')
compare.string('Airline',
            'Airline',
            method='jarowinkler',
            threshold=0.75,
            label='Airline_Score')
compare.numeric('Passengers_In',
               'Passengers_In',
                label='Passenger_In'
               )
compare.numeric('Passengers_Out',
               'Passengers_Out',
                label='Passenger_Out'
               )
compare.numeric('Freight_In',
               'Freight_In',
                label='Freight_In'
               )
compare.numeric('Freight_Out',
               'Freight_Out',
                label='Freight_Out'
               )
compare.numeric('Mail_In',
               'Mail_In',
                label='Mail_In'
               )
compare.numeric('Mail_Out',
               'Mail_Out',
                label='Mail_Out'
               )

#Compute feature match score for each comparison factor for all the candidate matches
features = compare.compute(candidates, df_monthly_stats, df_monthly_stats).reset_index()

#Get a total score combining all feature scores
features['Score'] = features.loc[:, 'Port_Country_Score':'Mail_Out'].sum(axis=1)

#Merge dataframe back to original to match the old/new airline indexes to their respective names
result = pd.merge(df_last_occurrences[['Airline','datetime','Port_Country']], features, left_index=True,right_on=['level_0'],suffixes=('_old', ''))
result = pd.merge(df_first_occurrences[['Airline','datetime','Port_Country']], result, left_index=True,right_on=['level_1'],suffixes=('_new', '')).drop(columns=['level_0', 'level_1'])
result=result.rename(columns={'Airline':'Airline_old','datetime': 'datetime_old','Port_Country':'Port_Country_old'})

#Remove duplicate links, by keeping only the highest score for each old airline/new airline name combinations
result=result.sort_values('Score',ascending=False).drop_duplicates(subset=['Airline_old', 'Airline_new'], keep='first').reset_index(drop=True)

#As Port Countries stands out as one of the better indicators of airline similarity, assign it a higher weighting and recompute total score
result['Port_Country_Score']=result['Port_Country_Score']*3
result['Score'] = result.loc[:, 'Port_Country_Score':'Mail_Out'].sum(axis=1)
result.sort_values('Score',ascending=False).reset_index(drop=True)
#The result shows some strong links between old and new airline names. Google search suggests that most airlines in the top 15 matches
#have indeed gone through either name change or were part of a merger (notable exceptions are Kiwi Travel and Air France whose direct competitors started operating to/from Australia a month after they stopped)

,Airline_new,datetime_new,Port_Country_new,Airline_old,datetime_old,Port_Country_old,Port_Country_Score,Airline_Score,Passenger_In,Passenger_Out,Freight_In,Freight_Out,Mail_In,Mail_Out,Score
0,TIGERAIR,2011-01-01,Singapore,TIGER AIRWAYS,2010-12-01,Singapore,3.0,1.0,0.0,0.0,1.0000,1.000,1.0000,1.0000,8.0000
1,NAURU AIRLINES,2013-01-01,Nauru,OUR AIRLINE,2012-12-01,Nauru,3.0,1.0,0.0,0.0,0.9355,0.097,0.9965,0.9900,7.0190
2,FREEDOM AIR INTERNATIONAL,1996-10-01,New Zealand,KIWI TRAVEL INTL AIRLINES,1996-09-01,New Zealand,3.0,0.0,0.0,0.0,1.0000,1.000,1.0000,1.0000,7.0000
3,TASMAN CARGO AIRLINES,2008-01-01,New Zealand,ASIAN EXPRESS AIRLINES,2007-12-01,New Zealand,3.0,0.0,1.0,1.0,0.0000,0.000,1.0000,1.0000,7.0000
4,AUSTRIAN AIRLINES,2005-07-01,"Austria,Malaysia,Singapore",LAUDA AIR,2005-06-01,"Austria,Malaysia,Singapore",3.0,0.0,0.0,0.0,1.0000,1.000,1.0000,1.0000,7.0000
5,OUR AIRLINE,2008-01-01,"Kiribati,Nauru,Solomon Islands",AIR NAURU,2007-12-01,"Nauru,Solomon Islands",3.0,0.0,0.0,0.0,0.8705,0.836,0.9770,0.9535,6.6370
6,AIR CALEDONIE INTERNATIONAL,2013-01-01,New Caledonia,AIR CALEDONIE,2012-12-01,New Caledonia,3.0,1.0,0.0,0.0,0.7860,0.000,0.9785,0.6830,6.4475
7,LATAM AIRLINES,2016-06-01,"Chile,New Zealand",LAN AIRLINES,2016-05-01,"Chile,New Zealand",3.0,1.0,0.0,0.0,0.0000,0.000,0.9680,0.7125,5.6805
8,AOM FRENCH AIRLINES,1995-11-01,"France,New Caledonia,Sri Lanka",AIR FRANCE,1995-10-01,"France,Indonesia,New Caledonia,Singapore",3.0,0.0,0.0,0.0,0.5350,0.000,0.8385,0.8710,5.2445
9,LAN AIRLINES,2008-01-01,"Chile,New Zealand",LAN CHILE,2007-12-01,"Chile,New Zealand",3.0,1.0,0.0,0.0,0.0000,0.000,0.9400,0.0000,4.9400
10,VIRGIN SAMOA,2004-01-01,"New Zealand,Niue,Tonga,Western Samoa",POLYNESIAN AIRLINES,2003-12-01,"New Zealand,Tonga,Western Samoa",3.0,0.0,0.0,0.0,0.0000,0.217,0.9590,0.5175,4.6935
11,VIRGIN AUSTRALIA,2004-01-01,New Zealand,POLYNESIAN AIRLINES,2003-12-01,"New Zealand,Tonga,Western Samoa",3.0,0.0,0.0,0.0,0.0000,0.000,0.8970,0.1040,4.0010
12,AIR CANADA,2001-01-01,"Canada,USA",CANADIAN AIRLINES INTL,2000-12-01,"Canada,USA",3.0,0.0,0.0,0.0,0.0000,0.000,0.0000,1.0000,4.0000
13,TIGER AIRWAYS,2005-12-01,Singapore,AIR PARADISE INTERNATIONAL,2005-11-01,Indonesia,0.0,0.0,0.0,0.0,1.0000,1.000,1.0000,1.0000,4.0000
14,AIR FRANCE,1993-01-01,"France,Indonesia,New Caledonia,Singapore,Tahiti",UNION DE TRANSPORTS AERIENS,1992-12-01,"France,Indonesia,New Caledonia,Singapore,Tahiti",3.0,0.0,0.0,0.0,0.0000,0.000,0.9490,0.0285,3.9775
15,TASMAN CARGO AIRLINES,2008-01-01,New Zealand,LAN CHILE,2007-12-01,"Chile,New Zealand",3.0,0.0,0.0,0.0,0.0000,0.000,0.8730,0.0000,3.8730
16,LAN AIRLINES,2008-01-01,"Chile,New Zealand",ASIAN EXPRESS AIRLINES,2007-12-01,New Zealand,3.0,0.0,0.0,0.0,0.0000,0.000,0.8130,0.0000,3.8130
17,FIJI AIRWAYS,2011-01-01,Fiji,AIR PACIFIC,2010-12-01,Fiji,3.0,0.0,0.0,0.0,0.0000,0.000,0.7495,0.0000,3.7495
18,KALITTA AIR,2020-03-01,USA,TIANJIN AIRLINES,2020-02-01,China,0.0,0.0,1.0,0.0,0.0000,0.640,1.0000,1.0000,3.6400
19,AIRLINES PNG,2005-11-01,Papua New Guinea,VALUAIR,2005-10-01,Singapore,0.0,0.0,0.0,0.0,0.6225,0.000,1.0000,1.0000,2.6225
20,INDONESIA AIRASIA EXTRA,2015-03-01,Indonesia,TIGERAIR,2015-02-01,Singapore,0.0,0.0,0.0,0.0,0.0000,0.300,1.0000,1.0000,2.3000
21,HAINAN AIRLINES,2011-01-01,China,TIGER AIRWAYS,2010-12-01,Singapore,0.0,0.0,0.0,0.0,0.0000,0.000,1.0000,1.0000,2.0000
22,BEIJING CAPITAL AIRLINES,2016-09-01,China,INDONESIA AIRASIA EXTRA,2016-08-01,Indonesia,0.0,0.0,0.0,0.0,0.0000,0.000,1.0000,1.0000,2.0000
23,JETSTAR,2005-12-01,New Zealand,AIR PARADISE INTERNATIONAL,2005-11-01,Indonesia,0.0,0.0,0.0,0.0,0.0000,0.000,1.0000,1.0000,2.0000
24,V AUSTRALIA,2009-02-01,USA,AIRNORTH,2009-01-01,Indonesia,0.0,0.0,0.0,0.0,0.0000,0.000,1.0000,1.0000,2.0000
25,AIR TAHITI NUI,2005-07-01,Tahiti,LAUDA AIR,2005-06-01,"Austria,Malaysia,Singapore",0.0,0.0,0.0,0.0,0.0000,0.000,1.0000,1.0000,2.0000
26,AIRASIA X,2007-11-01,Malaysia,MERPATI NUSANTARA AIRLINES,2007-10-01,Indonesia,0.0,0.0,0.0,0.0,0.0000,0.000,1.0000,1.0000,2.0000
27,MIDDLE EAST AIRLINES,1994-10-01,"Lebanon,United Arab Emirates",NATIONAL AIRLINES,1994-09-01,New Zealand,0.0,0.0,0.0,0.0,0.1115,0.000,0.7310,1.0000,1.8425
28,TASMAN CARGO AIRLINES,2008-01-01,New Zealand,AIR NAURU,2007-12-01,"Nauru,Solomon Islands",0.0,0.0,0.0,0.0,0.0000,0.000,0.9745,0.8570,1.8315
29,OUR AIRLINE,2008-01-01,"Kiribati,Nauru,Solomon Islands",ASIAN EXPRESS AIRLINES,2007-12-01,New Zealand,0.0,0.0,0.0,0.0,0.0000,0.000,0.9975,0.8105,1.8080
30,EGYPTAIR,1995-11-01,"Egypt,Singapore",AIR FRANCE,1995-10-01,"France,Indonesia,New Caledonia,Singapore",0.0,0.0,0.0,0.0,0.0000,0.000,0.8530,0.8710,1.7240
31,VIETNAM AIRLINES,1996-04-01,Vietnam,AEROFLOT RUSSIAN INTL A/L,1996-03-01,Russia,0.0,0.0,0.0,0.0,0.0000,0.000,0.2390,1.0000,1.2390
32,FIJI AIRWAYS,2011-01-01,Fiji,TIGER AIRWAYS,2010-12-01,Singapore,0.0,1.0,0.0,0.0,0.0000,0.000,0.0000,0.0000,1.0000
33,AIR CALEDONIE INTERNATIONAL,2013-01-01,New Caledonia,OUR AIRLINE,2012-12-01,Nauru,0.0,0.0,0.0,0.0,0.0530,0.000,0.7180,0.2145,0.9855
34,NAURU AIRLINES,2013-01-01,Nauru,AIR CALEDONIE,2012-12-01,New Caledonia,0.0,0.0,0.0,0.0,0.2025,0.000,0.6930,0.0000,0.8955
35,OUR AIRLINE,2008-01-01,"Kiribati,Nauru,Solomon Islands",LAN CHILE,2007-12-01,"Chile,New Zealand",0.0,0.0,0.0,0.0,0.0000,0.000,0.8755,0.0000,0.8755
36,LAN AIRLINES,2008-01-01,"Chile,New Zealand",AIR NAURU,2007-12-01,"Nauru,Solomon Islands",0.0,0.0,0.0,0.0,0.0000,0.000,0.8385,0.0000,0.8385
37,CONTINENTAL MICRONESIA,1995-04-01,Guam,ANSETT AIR FREIGHT,1995-03-01,New Zealand,0.0,0.0,0.0,0.0,0.0000,0.000,0.4535,0.0000,0.4535
38,TIGERAIR,2011-01-01,Singapore,AIR PACIFIC,2010-12-01,Fiji,0.0,0.0,0.0,0.0,0.0000,0.000,0.0000,0.0000,0.0000
39,HAINAN AIRLINES,2011-01-01,China,AIR PACIFIC,2010-12-01,Fiji,0.0,0.0,0.0,0.0,0.0000,0.000,0.0000,0.0000,0.0000